<% include ../partials/header.ejs %>
  <div class="container top">
    <div class="col-md-4 offset-4">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form action="/login" method="POST">
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="inputEmail" class="form-control" name="username" id="username" placeholder="Email address" required="required" autofocus="autofocus">
                  <label for="inputEmail">Email address</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" id="password"  name="password" placeholder="Password" required="required">
                  <label for="inputPassword">Password</label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block" >Login</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3 btn-success btn-sm" href="/user_add" >New User</a>&nbsp;
                <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
            </div>
            <div class="text-center">
                <a href="/auth/facebook"><img src="./assets/img/fb-login.jpg" width="140" height="24"></a>
            </div>
          </div>
        </div>
      </div>
  </div>
<% include ../partials/footer.ejs %>

